
* {
    margin: 0;
    box-sizing: border-box;
}
ol,ul{
    padding: 0 !important;
}
a{
    text-decoration: none !important;
}
:root {
    --bs-primary: #246bfd;
}
.py {
    padding: 140px 0;
}
.pb{
    padding-bottom: 140px;
}
.navbar {
    margin: 0 100px;
    padding: 0 !important;
}
.contact i {
    font-size: 17px;
    padding-top: 13px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
.contact p {
    font-size: 17px;
}
/* banner  */
.banner-content {
    top: 25%;
    right: 8%;
}
.banner-text span {
    letter-spacing: 1px;
}
.banner-text h1 {
    font-size: 65px;
}
.banner-content-img {
    height: 65%;
    width: 65%;
}
.banner-content-img .graph {
    bottom: -63%;
    right: 35px;
}
.banner-content-img .dots {
    right: 120%;
}
.banner-content-img .dots2 {
    bottom: -50%;
    left: -230%;
}
.banner-content-img::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 10px;
    width: 100%;
    height: 160%;
    border: 5px solid var(--bs-primary);
    border-radius: 300px 300px 0 0;
}
@media (max-width: 1199px) {
    .banner-content .banner-text h1{
        font-size: 5vw !important;
    }
}
/* services  */
.services button {
    position: relative;
}
.services button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    color: var(--bs-white);
    border: var(--bs-white);
    background-color: var(--bs-primary) !important;
}
/* faq  */
.faq {
    background-image: url(../images/FAQ/3.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.team-img img:hover {
    transform: scale(1.09);
    transition: all .3s ease-in-out;
}
.team-icon {
    top: 80%;
    left: 38%;
}
.team-icon {
    visibility: hidden;
    opacity: 0;
}
.team-img:hover .team-icon {
    visibility: visible;
    transition: all .3s ease-in-out;
    opacity: 1;
}
/* counter  */
.counter{
    background-image: url(../images/counter/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-top: 100px;
    padding-bottom: 200px;
}
/* contact  */
.contact-inner{
    margin-top: -120px;
}
/* packages  */
.packages{
    margin-bottom:200px;
}
/* footer  */
.foot-up-inner{
    background-image: url(../images/footer/6.png);
    background-size: cover;
    background-position: 50%;
    transform: translateY(-80px);
}
/* services-page  */
.service-2 ul li{
    font-size: 18px;
}